$primary: #176dea;
$secondary: #f3f8ff;

$white: #ffffff;
$black: #292c33;
$dark-black: #212428;

$gray-1: #5a6882;
$gray-2: #bbbcc4;
$gray-3: #f8f9fa;
$gray-4: #f0f1f2;

$blue: #aacdff;
$secondary-blue: #ebf3ff;
$border-blue: #a7d8f5;
$sea: #e1f3fe;

$yellow: #ffd073;

$green: #0dc268;
$secondary-green: #ebfff5;

$red: #f33737;
$secondary-red: #ffeeee;

$transition: 0.2s ease-in-out;
